@import "../../../../../css/variables";

[dark="dark"] {
    .xcard {
        box-shadow: 0 0px 8px 0 $dark-shadow;

        background-color: $dark-secondary;
        // border: #000 1px solid;

    }

    .category-card {
        box-shadow: 0 2px 8px 0 $dark-shadow;
        border-right: 2px solid #111
    }

    .bg-card {
        background-color: $dark-shadow;
    }

}