.mainpage {
    margin-top: 70px;
    /* background-color: #f3f3f4; */
    overflow: hidden;
}
.form-width{
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}
.mcard{
    box-shadow: 0 0 2px 0 #eee;
    border: #bbb solid 1px;
}
.job-title{
    padding: 45px 15px;
    background-image: linear-gradient(to right,#c42253cb,#fe3852d7);
    box-shadow: 0px 1px 10px 0 #aa1c47c4;
    color: white;
    font-size: 26px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.job-title--bg{
    position: absolute;
    right: 50px;
    bottom: -30px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    transform: rotateZ(37deg);
    background-color: #cf142dde;
    z-index: -1;
}
.job-tab{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 25px 15px 25px 0;
    width: max-content;
    gap: 20px;
}
.job-tab .active{
    box-shadow: 0px 2px 2px 0 red;
    background-color: #cf142dde;
    color: white;
}
.job-form{
    margin: 15px 0;
}
.job-form div{
    font-size: 18px;
    font-weight: 700;
}
.modal-body div{
    font-size: 16px;
    font-weight: 500;
}

.job-form div i{
    font-size: 16px;
    font-weight: 100;
    color: #c42252;
}
.job-form .hint{
    font-size: 13px;
    font-weight: 400;
}
.job-form input, .job-form textarea, .modal-body select{
    outline: none;
    box-shadow: -1px 1px 5px 0px #bbbbbbdd;
    border: none;
    padding: 10px 20px;
    margin: 7px 0;
    width: 100%;
}
.job-form input:focus, .job-form textarea:focus{
    box-shadow: 1px 1px 5px 1px #aaa;
    background-color: #ffa2aa;

}
.modal-body select{
    outline: none;
    font-size: 16px;
    /* font-weight: 300; */
    padding: 0 15px;
}
.modal-body select:focus{
    outline: dotted 1px #fe3852;
}
@keyframes backgroundImage{
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(1.0);
    }
    
}
.image-background{
    position: absolute;
    transform-origin: right;
    animation: backgroundImage 1100ms normal cubic-bezier(0.755, 0.05, 0.855, 0.06);
    top: 0;
    width: 100%;
    height: 100%;    
    background-color: #f3f3f4;
    background-image: url("../../../assets/Artboard.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.circle-background{
    background-image: linear-gradient(to right,#c42252 0%,#fe3852 100%);
    position: absolute;
    transform-origin: right;
    opacity: 1.0;
    animation: backgroundImage 1100ms normal;
    box-shadow: 0 0 20px 1px #e91632 ;
    top: 7vh;
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    left: 78vw;   
}