.main-background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
.userLogger {
    /* background-color: #ffffff; */
    width: 100%;
    max-width: 380px;
    text-align: center;
    box-shadow: 0 3px 5px #ddd;
    padding: 20px 35px;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

.switchButton {
    width: 70px;
    height: 40px;
    /* border: 3px solid indigo; */
    /* box-shadow: 0 7px 6px rgb(86, 86, 128); */
    border-radius: 15px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
}

.switchButton:hover {
    background-color: rgb(129, 124, 145);
}