@import "../../../../css/variables";

[dark="dark"] {
    .modalbg {
        background-color: lighten($dark-primary,0);
        // background-color: red
        color: #ccc;
    }

    .modalframe {
        background-color:  rgba($color: $dark-secondary, $alpha: 0.8) ;
    }
}