@import "../../../../css/variables";


    .modalbg {
        background-color: var(--dark-secondary2);
        // background-color: red
        color: var(--text-secondary);
    }

    .modalframe {
        color: var(--text-secondary);
        background-color: var(--dark-primary);
        opacity: 0.92;
    }
    svg {
        fill-color: red
    }
