// $dark-primary: #1F1A24;
$dark-secondary: lighten(#332940,1);
$dark-shadow: darken(#1F1A24,2);
$dark-primary: darken(#1F1A24,0);
$dark-secondary2: darken(#332940,6);
$ligth-primary: #cacaca;
$ligth-secondary: #b2a7c0;