// $dark-primary: #1F1A24;
$dark-secondary: #332940;
$dark-shadow: darken(#1F1A24,5);
$dark-primary: darken(#1F1A24,3);
$dark-secondary2: darken(#332940,7);
$ligth-primary: #cacaca;
$ligth-secondary: #b2a7c0;
$custom-primary: #c42252;
$custom-primary-accent: #fe3852;