.container-fluid {
  background-color: #fff9fa;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.full-width {
  width: 100vw;
  overflow: hidden;
}

.full-height {
  height: 100%;
}

@keyframes pageTitleAnimation {
  from {
    width: 5vw;
    transform: translateX(-50px);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  to {
    width: Clamp(15px, 22px, Calc(1vw + 10px));
    transform: translateX(0px);
  }
}

.page-title {
  font-size: Clamp(17px, 22px, Calc(1vw + 10px));
  font-weight: 700;
  position: relative;
  width: max-content;
  margin-left: 5px;
  margin-top: 26px;
}

.page-title::after {
  content: "";
  height: 95%;
  transform-origin: right;
  animation: pageTitleAnimation 500ms forwards cubic-bezier(0.47, 0, 0.745, 0.715);
  width: Clamp(15px, 22px, Calc(1vw + 10px));
  position: absolute;
  top: 0;
  left: 102%;
  background-image: linear-gradient(to right, #c42252 100%, #fe3852 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.avatar {
  background-color: #ccc;
  width: 80px;
  height: 80px;
  border-radius: 50%
}

@keyframes shimerEffect {
  from {
    transform: translateX(45px);
    background-color: #ccc;
  }

  to {
    background-color: #eee;
    transform: translateX(-30px);
  }
}

.modal-close-btn,
.modal-save-btn {
  border: 0;
  outline: 0;
  padding: 5px 15px;
  margin: 0 13px;
}

.modal-close-btn {
  background-color: #00000000;
  color: #888;
}

.modal-close-btn:hover {
  background-color: #eeeeeecc;
}

.avatar-mini {
  background-image: linear-gradient(145deg, #ccc, #fcfcfc);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.avatar-mini::after {
  content: "";
  animation: shimerEffect 1000ms ease-in-out alternate-reverse infinite;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: #ddd;
}

.rating-star i {
  font-size: 14px;
}

.padding-m {
  padding: 15px;
}

.container-v {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-m {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.container-lg {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.title1 {
  font-size: Clamp(18px, 1vw, 23px);
  font-weight: 500;
}

.subtitle1 {
  font-size: Clamp(12px, 1vw, 14px);
  font-weight: 700;
}

.title2 {
  font-size: Clamp(16px, 1vw,  21px);
  font-weight: 500;
}

.subtitle2 {
  font-size: Clamp(11px, 1vw, 13px);
  font-weight: 500;
}

.title3 {
  font-size: Clamp(15px, 1vw, 20px);
  font-weight: 500;
}

.subtitle3 {
  font-size: Clamp(10px, 1vw, 12px);
  font-weight: 500;
}

.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  color: #444;
}

.subtitle1,
.subtitle2,
.subtitle3,
.subtitle4,
.subtitle5,
.subtitle6 {
  color: #666;
}

.title4 {}

.title5 {}

.title6 {}

.subtitle4 {
  font-size: 14px;
}

.subtitle5 {}

.subtitle6 {}

.bdr {
  border-color: #aaa;
  border-right-width: 1px;
  box-shadow: 1px 0px 0px 0 #ccc;
}

.bdl {
  border-color: #aaa;
  border-left-width: 1px;
  box-shadow: -1px 0px 0px 0 #ccc;
}

.bdb {
  border-color: #aaa;
  border-bottom-width: 5px;
  box-shadow: 0px 1px 0px 0 #ccc;

}

.bdt {
  border-color: #aaa;
  /* border-top-width: 1px; */
  box-shadow: 0px -1px 0px 0 #ccc;
}

/* Botton */
.round-btn,
.square-btn {
  padding: 9px;
  cursor: pointer;
  background-color: #fff;
  transition: all 200ms;
  /* display:flex; */
  /* margin: auto auto; */
  /* justify-content: center;
  align-items: center; */
  box-shadow: 1px 1px 8px 1px #ccc;
}

.square-btn {
  display: flex;
  justify-content: center;
  width: max-content;
  font-size: 13px;
  padding: 5px 8px;
  color: red;
  margin: auto auto;
}

.round-btn {
  margin-left: 10px;
  border-radius: 50%;
  font-size: 13px;
  color: red;
  /* width: 30px;
  height: 30px; */
}

.round-btn:hover,
.square-btn:hover {
  box-shadow: 0px 2px 11px 1px #aaa;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list li {
  margin: 7px 5px;
  list-style-type: none;
  background-color: #eee;
  padding: 5px 13px;
  border-radius: 20px;
}

.custom-shadow {
  box-shadow: 2px 1px 15px 0px #ccccccaa;
}

/* input  */
.custom-input {}

.scale {
  transform: scale(3);
}

:root {
  --dark-primary: #1F1A24;
  --dark-secondary: #332940;
  --dark-shadow: #1F1A24
}

/* Verify CSS */
.verifie {

  width: max-content;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px;
  color: grey;
  margin: 5px;
  padding: 9px;
  cursor: pointer;
  background-color: #fff;
  transition: all 500ms;

}

.verifie:hover {
  text-decoration: underline orangered;
  color: #1F1A24;

}


/* Dark Mode */