.container-fluid {
  position: relative;
  background-color: var(--dark-primary);

  overflow: hidden;
}
.container-fluid-bg{
  content:"we";
  position: absolute;
  /* top: 0; */
  top: -200px;
  left: -20%;
  width: 100vw;
  height: 100vh;
  /* background-color: var(--custom-primary); */
  opacity: 0.8;
  /* background-image: url("../assets/main-bg.svg"); */
  /* background-size: cover; */
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}
[dark="dark-black"] .container-fluid-bg,[dark="dark-purple"] .container-fluid-bg{
  opacity: 0.05;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.full-width {
  width: 100vw;
  min-height: 81vh;
  overflow: hidden;
}

.full-height {
  height: 100%;
}
.card-rounded{
  border-radius: 15px !important;
}
.btn-rounded{
  border-radius: 30px !important;
  padding: 5px 40px !important;
}
.color-shadow{
  box-shadow:  0px 0px 50px 2px var(--dark-shadow), 0px 10px 120px -20px var(--custom-primary-opacity2) !important;
}

@keyframes pageTitleAnimation {
  from {
    width: 5vw;
    transform: translateX(-50px);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  to {
    width: Clamp(15px, 22px, Calc(1vw + 10px));
    transform: translateX(0px);
  }
}

.page-title {
  font-family: 'Hind Vadodara', sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: Clamp(17px, 32px, Calc(3vw + 10px));
  font-weight: 700;
  position: relative;
  width: max-content;
  margin-left: 5px;
  margin-top: Clamp(10px, 4vw , 30px);
  margin-bottom: Clamp(10px, 4vw , 15px);;
  color: var(--text-primary);
}

.page-title::after {
  content: "";
  height: 70%;
  transform-origin: right;
  animation: pageTitleAnimation 500ms forwards cubic-bezier(0.47, 0, 0.745, 0.715);
  width: Clamp(15px, 22px, Calc(1vw + 10px));
  position: absolute;
  top: 8px;
  left: 102%;
  background-image: linear-gradient(to right, var(--custom-primary) 100%, var(--custom-primary) 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.avatar {
  /* background-color: #ccc; */
  width: 80px;
  height: 80px;
  border-radius: 50%
}

@keyframes shimerEffect {
  from {
    transform: translateX(45px);
    background-color: #ccc;
  }

  to {
    background-color: #eee;
    transform: translateX(-30px);
  }
}

.modal-close-btn,
.modal-save-btn {
  border: 0;
  outline: 0;
  padding: 5px 15px;
  margin: 0 13px;
}

.modal-close-btn {
  background-color: #00000000;
  color: var(--text-primary);
}

.modal-close-btn:hover {
  /* background-color: #eeeeeecc; */
}

.avatar-mini {
  background-image: linear-gradient(145deg, #ccc, #fcfcfc);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.avatar-mini::after {
  content: "";
  animation: shimerEffect 1000ms ease-in-out alternate-reverse infinite;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  /* background-color: #ddd; */
}

.rating-star i {
  font-size: 14px;
}

.padding-m {
  padding: 15px;
}

.container-v {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-m, .container-xm {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}
.container-xm{
  max-width: 800px;
}
.container-lg {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.title1 {
  font-family: 'Josefin Sans', cursive;
  font-family: 'Rubik', sans-serif;
  font-size: Clamp(18px, Calc(2vw + 4px), 23px) !important;
  font-weight: 700;
}
.titleXL {
  font-family: 'Josefin Sans', cursive;
  /* font-family: 'Rubik', sans-serif; */
  font-size: Clamp(30px, Calc(4vw + 4px), 44px) !important;
  font-weight: 700;
}

.subtitle1 {
  font-family: 'ABeeZee', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: Clamp(14px, Calc(3vw + 6px), 16px) !important;
  font-weight: 500;
}

.title2 {
  font-family: 'Josefin Sans', cursive;
  font-family: 'Rubik', sans-serif;
  font-size: Clamp(19px, Calc(3vw + 8px),  21px) !important;
  font-weight: 500;
}

.subtitle2 {
  font-family: 'ABeeZee', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: Clamp(12px, Calc(2vw + 4px), 14px) !important;
  font-weight: 400 !important;
}

.title3 {
  /* font-family: 'Josefin Sans', cursive; */
  /* font-family: 'ABeeZee', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-size: Clamp(16px, Calc(3vw + 7px), 19px) !important;
  font-weight: 500 !important;
}

.subtitle3 {
  font-family: 'ABeeZee', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  font-size: Clamp(11px, 2vw, 12px) !important;
  font-weight: 400 !important;
}
.text-primary{
  color: var(--text-primary) !important;
}
.background-primary{
  background: var(--dark-primary) !important;
}
.overlay{
  opacity: 0.7;
  background: var(--dark-primary2);
  width: 100%;
  height: 100%;
  position: absolute;
  /* z-index: 50; */
  top: 0;
}
.modal-backdrop{
  /* z-index: 1 !important; */
}
body.keyboard {
  height: calc(100% + 500px); /* add padding for keyboard */
}
.title1,
.title2,
.title3,
.title4,
.title5,
.title6,
.titleXL {
  /* font-family: 'Commissioner', sans-serif; */
  color: #555;
}

.subtitle1,
.subtitle2,
.subtitle3,
.subtitle4,
.subtitle5,
.subtitle6 {
  color: #777 !important;
}

.title4 {}

.title5 {}

.title6 {}

.subtitle4 {
  font-size: 14px !important;
}

.subtitle5 {}

.subtitle6 {}

.bdr {
  border-right: 1px solid #ddd;
}

.bdl {
  border-left: 1px solid #ddd;
}

.bdb {
  border-bottom: 1px solid #ddd;
  /* box-shadow: 0px 1px 0px 0 #ccc; */

}

.bdt {
  border-top: 1px solid #ddd;
  
  /* border-top-width: 1px; */
  /* box-shadow: 0px -1px 0px 0 #ccc; */
}

/* Botton */
.round-btn,
.square-btn {
  padding: 9px;
  cursor: pointer;
  /* background-color: #fff; */
  transition: all 200ms;
  /* display:flex; */
  /* margin: auto auto; */
  /* justify-content: center;
  align-items: center; */
}

.square-btn {
  display: flex;
  justify-content: center;
  width: max-content;
  font-size: 13px;
  padding: 5px 8px;
  color: var(--custom-primary);
  margin: auto auto;
}

.round-btn {
  margin-left: 10px;
  border-radius: 50%;
  font-size: 13px;
  color: var(--custom-primary);
  /* width: 30px;
  height: 30px; */
}

.round-btn:hover,
.square-btn:hover {
  box-shadow: 0px 2px 11px 1px #aaa;
}


.star{
 transition: transform 200ms;
}
.star:hover{
  transform: scale(1.3);
  
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list li {
  margin: 7px 5px;
  list-style-type: none;
  /* background-color: #eee; */
  padding: 5px 13px;
  border-radius: 20px;
}

.custom-shadow {
  /* background-color: var(--dark-secondary); */
  /* box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 10px -1px; */
}
.custom-shadow2 {
  /* background-color: var(--dark-secondary);; */
  /* box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 5px -1px; */
  /* padding: 25px; */
}

.custom-card {
  background-color: var(--dark-secondary4);;
  padding: 15px 8px;
  border-radius: 12px;
}
.custom-card:hover{
  opacity: 0.9;
}
.no-shadow{
  box-shadow: none !important;
  border-radius: 10px;
}
/* input  */
.input-plain {
  outline: none;
  border: none;
  background: none;
}
.custom-input {
  border-radius: 30px;
  padding: 3px 10px 3px 5px;
  background-color: var(--dark-secondary3);
  display: flex;
  align-items: center;
}
.wallet-svg{
  background: url("../assets/wallet.svg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  /* background-color: var(--dark-secondary4); */
  /* background-color: red; */
  clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%);
}
.scale {
  transform: scale(3);
}
.acc-underline{
  cursor: pointer;
}
.acc-underline:hover{
  text-decoration: underline;
}


:root {
  --dark-primary: #1F1A24;
  --dark-secondary: #332940;
  --dark-shadow: #1F1A24;
}


/* Verify CSS */
.verifie {

  width: max-content;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px;
  color: grey;
  margin: 5px;
  padding: 9px;
  cursor: pointer;
  /* background-color: #fff; */
  transition: all 500ms;

}

.verifie:hover {
  text-decoration: underline orangered;
  color: #1F1A24;

}

@keyframes filter-animation{
  from{
    transform: translateX(-480px);
  }
  to{
    transform: translateX(0px);
  }
}
.filter-modal{
  /* animation: filter-animation 500ms; */
  width: 100%;
  height: 100vh;
  max-width: 320px;
  position: fixed;
  
  top: 30px;
  left: 0;
  transition: all 400ms;
}
.filter-modal-open{
  transform: translateX(0)
}
.filter-modal-close{
  transform: translateX(-500px)
}
.display-show{
  display: none;
}
.link-address{
cursor: pointer;
}
.link-address:hover{
  text-decoration:underline double;
  color: var(--custom-primary)
}
.full-card{
  min-height: 70vh;
}
@media only screen and (max-width: 991px){
  .display-show{
    display: block !important;
  }
  .display-none{
    display: none !important;
  }
}

/* Dark Mode */