@import "./variables";

.top-bg {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(145deg, $custom-primary, orange);

}

.logo-watermark {
  background-image: url('../assets/logo-icon.png');
  background-size: cover;
  height: 70vh;
  width: 70vh;
  position: absolute;
  top: 10px;
  right: 0;
  // z-index: -1;
  opacity: 0.07;
  pointer-events: none;
}


.page {
  background-color: #fffcff;
}

.round-utility-btn{
  border-radius: 25px;
  border:1px solid $custom-primary;
  padding: 2px 15px;
  cursor: pointer;
  width: max-content;
  font-size: 12px;
  transition: transform 220ms,opacity 300ms;
  &:hover{
    opacity: 0.9;
    transform: scale(1.05)
  }
}

@keyframes openCloseAnimation{
  from{
    transform: translateX(480px);
  }
  to{
    transform: translateX(0px);
  }
}
.open-message{

animation: openCloseAnimation 500ms ease-in-out forwards;
}
.close-message{
animation: openCloseAnimation 500ms ease-in-out reverse;
}
.side-messagebox{
  
  position: fixed;
  bottom: 4px;
  height: 100%;
  max-height: 400px;
  right: 20px;
  width: 100%;
  transform: translateX(500px);
  max-width: 360px;
  z-index: 10;
  .card{
    height: 100%;
  }
  
}

.verify {
  z-index: 100;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 15px;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;

  .sidehussle-select{

    font-size: Clamp(16px, 2vw , 24px);
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 9px;

  }
  // .job-form {
  //   input {
  //     // width: 40px;
  //     // font-size: Clamp(16px, 2vw , 23px);
  //     font-size: 10px;
  //     padding: 5px 13px;
  //   // }
  // }


  select,
  input {
    /* width: 100px; */

    padding: 10px;
    border: 0;
    border-bottom: 1px $custom-primary solid;
    font-size: Clamp(16px, 2vw , 22px);

  }


  .title {}

  select {
    width: fit-content;
    padding: 5px 0;

    option {
      font-size: 15px;
      border: 0;
      outline: 0;


    }

    option:active {
      background-color: $custom-primary;
      box-shadow: 0 0 100px 0 $custom-primary;
    }
  }

  input {
    margin: 0 5px;
    padding: 10px 2px;
  }

  input:hover,
  input:focus,
  select:hover {
    outline: 0;
  }

  .square-btn {

    font-size: 15px;
    border-radius: 3px;
    color: white;
    padding: 8px 15px;
    margin: 0;
    margin-top: 15px;
    background-image: linear-gradient(145deg, $custom-primary, orange);
  }
}
.action-btn{
    font-size: medium;
    border-radius: 3px;
    color: white;
    padding: 8px 30px;
    margin: 0;
    margin-top: 15px;
    // background-image: linear-gradient(145deg, $custom-primary, $custom-primary-accent ,);
    background: linear-gradient(344.05deg, #7361d8 0%, #7361d8 53.55%);
    box-shadow: 3px 3px 8px 2px #7361d833;

    cursor: pointer;
    // color: #333;
    max-width: max-content;
    &:hover{
      box-shadow: 1px 7px 7px 0px #22004422;
      background: linear-gradient(344.05deg, rgb(230, 237, 252) 73.55%, rgb(230, 237, 252) 73.55%);
      color: #000
    }
    &:active{
      background-image: linear-gradient(145deg, $custom-primary, $custom-primary, $custom-primary );
      
    }
    
    }



[dark="dark"] {
  background-color: rgba($dark-primary,0.98);
  color: #bbb;

  a {
    color: #ccc;
  }

  a:hover {
    color: #ccc;
  }

  .avatar {
    background-color: #ccc;

  }

  @keyframes shimerEffect {
    from {
      transform: translateX(45px);
      background-color: #ccc;
    }

    to {
      background-color: #eee;
      transform: translateX(-30px);
    }
  }

  .modal-close-btn {
    background-color: #00000000;
    color: white;
  }

  .modal-close-btn:hover {
    background-color: #000000cc;
  }

  .avatar-mini {
    background-image: linear-gradient(145deg, #ccc, #fcfcfc);
  }

  .avatar-mini::after {
    background-color: #ddd;
  }

  .title1,
  .title2,
  .title3 {
    color: #ccc;
  }

  .subtitle1,
  .subtitle2,
  .subtitle3 {
    color: #aaa;
  }

  .bdr, .bdl, .bdb, .bdt {
    border-color: darken($dark-secondary, 0);
  }


  /* Botton */
  .round-btn,
  .square-btn {
    background-color: lighten(#2e1222, 3);
    // background-image: linear-gradient(180deg, $dark-secondary, $dark-secondary2) ;
    box-shadow: 1px 1px 8px 1px darken($dark-secondary, 11);
  }

  .square-btn, .round-btn {
    color: #aaa;
  }


  .round-btn:hover,
  .square-btn:hover {
    box-shadow: 0px 2px 11px 1px #1c1820;
    background-color: #bbb;
    color: $custom-primary;
  }

  .list li {
    background-color: $dark-secondary;
  }

  .custom-shadow {
    background-color: $dark-secondary2;
    box-shadow: 2px 1px 2px 0px $dark-shadow, -2px -1px 7px 0px $dark-shadow;
  }

  .filter-input {
    color: white;
  }

  .postsperpage {
    color: grey;
  }
}
@media screen and (max-width: 991px){
  .side-messagebox{
  
    position: fixed;
    bottom: 4px;
    height: 85%;
    max-height: 800px;
    right: 0px;
    width: 100%;
    max-width: 460px;
    
  }
}