@import "./variables";

.top-bg {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(145deg, $custom-primary, orange);

}

.logo-watermark {
  background-image: url('../assets/logo-icon.png');
  background-size: cover;
  height: 70vh;
  width: 70vh;
  position: absolute;
  top: 10px;
  right: 0;
  // z-index: -1;
  opacity: 0.07;
  pointer-events: none;
}


.page {
  background-color: #fffcff;
}

.round-utility-btn{
  border-radius: 25px;
  border:1px solid $custom-primary;
  padding: 2px 15px;
  cursor: pointer;
  width: max-content;
  font-size: 12px;
  transition: transform 220ms,opacity 300ms;
  &:hover{
    opacity: 0.9;
    transform: scale(1.05)
  }
}

@keyframes openCloseAnimation{
  from{
    transform: translateX(480px);
  }
  to{
    transform: translateX(0px);
  }
}
.open-message{

animation: openCloseAnimation 500ms ease-in-out forwards;
}
.close-message{
animation: openCloseAnimation 500ms ease-in-out reverse;
}
.side-messagebox{
  
  position: fixed;
  bottom: 4px;
  height: 100%;
  max-height: 400px;
  right: 20px;
  width: 100%;
  transform: translateX(500px);
  max-width: 360px;
  z-index: 10;
  .card{
    height: 100%;
  }
  
}

.verify {
  z-index: 100;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 15px;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;

  .sidehussle-select{

    font-size: Clamp(16px, 2vw , 24px);
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 9px;

  }
  // .job-form {
  //   input {
  //     // width: 40px;
  //     // font-size: Clamp(16px, 2vw , 23px);
  //     font-size: 10px;
  //     padding: 5px 13px;
  //   // }
  // }


  select,
  input {
    /* width: 100px; */

    padding: 10px;
    border: 0;
    border-bottom: 1px $custom-primary solid;
    font-size: Clamp(16px, 2vw , 22px);

  }


  .title {}

  select {
    width: fit-content;
    padding: 5px 0;

    option {
      font-size: 15px;
      border: 0;
      outline: 0;


    }

    option:active {
      background-color: $custom-primary;
      box-shadow: 0 0 100px 0 $custom-primary;
    }
  }

  input {
    margin: 0 5px;
    padding: 10px 2px;
  }

  input:hover,
  input:focus,
  select:hover {
    outline: 0;
  }

  .square-btn {

    font-size: 15px;
    border-radius: 3px;
    color: white;
    padding: 8px 15px;
    margin: 0;
    margin-top: 15px;
    background-image: linear-gradient(145deg, $custom-primary, orange);
  }
}
.action-btn{
    font-size: medium;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-family: 'Rubik', sans-serif;
    font-size: Clamp(11px, 2vw, 12px) !important;
    font-weight: 500 !important;
    padding: 6px 25px;
    margin: 0;
    margin-top: 15px;
    // background-image: linear-gradient(145deg, $custom-primary, $custom-primary-accent ,);
    background: linear-gradient(344.05deg, var(--custom-primary) , var(--custom-primary-accent) );
    box-shadow: 1px 1px 2px 1px var(--custom-primary);
    transition: all 200ms;
    cursor: pointer;
    // color: #333;
    max-width: max-content;
    &:hover{
      box-shadow: 1px 7px 7px 0px #22004422;
      background: linear-gradient(344.05deg, rgb(230, 237, 252) 73.55%, rgb(230, 237, 252) 73.55%);
      color: #000 !important;
    }
    &:active{
      background-image: linear-gradient(145deg, $custom-primary, $custom-primary, $custom-primary );
      
    }
    
    }
.action-btn2{
    font-size: 12px !important;
    color: var(--text-primary);
    padding: 6px 25px;
    margin: 0;
    display: grid;
    place-content: center;
    font-weight: 500 !important;
    margin-top: 15px;
    // background-image: linear-gradient(145deg, $custom-primary, $custom-primary-accent ,);
    border: var(--custom-primary) 2px solid;
    // border-image: linear-gradient(344.05deg, var(--custom-primary) , var(--custom-primary-accent) ) ;
    border-radius: 25px;
    cursor: pointer;
    // color: #333;
    height: max-content;
    transition: all 200ms;
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      border: rgb(230, 237, 252) 2px solid;
      box-shadow: 1px 7px 7px 0px #22004422;
      // background: linear-gradient(344.05deg, rgb(230, 237, 252) 73.55%, rgb(230, 237, 252) 73.55%);
      background: linear-gradient(344.05deg, var(--custom-primary) , var(--custom-primary-accent) );
      color: #fff
    }
    &:active{
      background-image: linear-gradient(145deg, $custom-primary, $custom-primary, $custom-primary );
      
    }
    
    }

    .action-btn[disabled-btn="true"], .action-btn2[disabled-btn="true"] {
      pointer-events: none;
      cursor: not-allowed;
      background: var(--dark-secondary3);
      box-shadow: none !important;
    }

// [dark="dark"] {
  
  

  a {
    color: var(--text-primary);
  }

  a:hover {
    color: var(--text-primary);
  }

  .avatar {
    background-color: var(--text-primary);

  }

  @keyframes shimerEffect {
    from {
      transform: translateX(45px);
      background-color: var(--text-primary);
    }

    to {
      background-color: var(--text-secondary);
      transform: translateX(-30px);
    }
  }

  .modal-close-btn {
    background-color: #00000000;
    color: var(--text-primary);
  }

  .modal-close-btn:hover {
    background-color: var(--dark-primary);
  }

  .avatar-mini {
    background-image: linear-gradient(145deg, var(--text-primary), var(--text-secondary));
  }

  .avatar-mini::after {
    background-color: #ddd;
  }

  .title1,
  .title2,
  .title3,
  .titleXL {
    color: var(--text-primary) !important;
  }

  .subtitle1,
  .subtitle2,
  .subtitle3 {
    color: var(--text-secondary) !important;
  }

  .bdr, .bdl, .bdb, .bdt {
    border-color: var(--text-secondary3);
  }


  /* Botton */
  .round-btn,
  .square-btn {
    background-color: var(--dark-secondary3);
    // background-image: linear-gradient(180deg, $dark-secondary, $dark-secondary2) ;
    box-shadow: 1px 1px 17px 2px var(--dark-shadow);
  }

  .square-btn, .round-btn {
    color: var(--text-primary);

  }
  // Stepper

  .step-container{
    margin: 15px 0;
    width: 100%;
    position: relative;
    .step-circle{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: var(--text-primary);
      padding: 15px;
      display: flex;
      background: var(--dark-secondary3);
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    .step-line{
      position: absolute;
      // top:50%;
      right: 0;
      // transform: translateY(-50%); 
      width: 95%;
      height: 2px;
      opacity: 0.4;
      background:inherit;
      z-index: 0;
    }
    .step-background{
      background: linear-gradient(145deg, var(--custom-primary),var(--custom-primary-accent));
      color: white
    }
  }

  .round-btn:hover,
  .square-btn:hover {
    box-shadow: 0px 2px 17px 1px var(--dark-shadow);
    background-color: var(--dark-secondary);
    color: var(--text-secondary2);
  }

  .list li {
    background-color: var(--dark-secondary3);
  }

  .custom-shadow {
    background-color: var(--dark-secondary2);
    box-shadow: 2px 1px 15px 1px var(--dark-shadow), -2px -1px 15px 1px var(--dark-shadow);
  }
  .custom-shadow2 {
    background-color: var(--dark-secondary2);
    box-shadow: 2px 1px 15px 1px var(--dark-shadow2), -2px -1px 15px 1px var(--dark-shadow2);
  }

  .filter-input {
    color: var(--text-primary);
  }

  .postsperpage {
    color: grey;
  }
// }
@media screen and (max-width: 991px){
  .side-messagebox{
  
    position: fixed;
    bottom: 4px;
    height: 85%;
    max-height: 800px;
    right: 0px;
    width: 100%;
    max-width: 460px;
    
  }
}