.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--custom-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--custom-primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.settings-page{
    .subtitle{
        font-size: Clamp(15px, 1vw , 20px);
        font-weight: 600;
    }
    .subtitle2{
        font-size: Clamp(13px, 1vw , 18px);
        font-weight: 500;
    }
    .hint{
        font-size: 11px;
    }
}
.settings-navigation{
    ul{
        margin:0 0 0 30px;
        display: flex;
        flex-direction: column;
        padding: 0;
        // font-size: 13px;
        list-style-type: none;
        .navlink{
            margin:4px 0;
            padding: 9px 15px;
            // background-color: var(--custom-primary);
            transition: transform 500ms;
            &:hover{
                cursor: pointer;
                opacity: 0.6;
            }
        }
         .active{
            // margin-left: 15px;
            transition: background-color 200ms ease-in;
            // color: white;
            width: 100%;
            border-left: 3px solid var(--custom-primary) ;
        }
    }
}
// ThemeSettings
.theme-border{
  border: 2px solid var(--custom-primary) !important;
}

// [dark="dark"]{
//     .slider{
//         background-color: $dark-secondary;
//     }
//     .settings-navigation li + .active{
//         background-color: var(--custom-primary)-accent;
//     }
// }
@media screen and ( max-width: 991px){
    .settings-navigation{
        
        margin-top: -10px;
        margin-bottom: 15px;
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li{
                margin:3px 0;
                border-radius: 12px;
            }
            .active{
              margin-left: 15px;
              transition: background-color 200ms ease-in;
              width: max-content;
              border-left:  none
          }
        }
        
    }   
}