.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $custom-primary;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $custom-primary;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.settings-page{
    .subtitle{
        font-size: Clamp(15px, 1vw , 20px);
        font-weight: 600;
    }
    .subtitle2{
        font-size: Clamp(13px, 1vw , 18px);
        font-weight: 500;
    }
    .hint{
        font-size: 11px;
    }
}
.settings-navigation{
    ul{
        margin:0 0 0 30px;
        
        padding: 0;
        font-size: 13px;
        list-style-type: none;
        li{
            margin:7px 0;
            padding: 4px 15px;
            // background-color: red;
            transition: transform 500ms;
            &:hover{
                cursor: pointer;
                transform: translateX(2px);
            }
        }
        li + .active{
            transition: background-color 200ms ease-in;
            border-radius: 12px;
            background-color: lighten($custom-primary-accent,15);
            color: white
        }
    }
}
[dark="dark"]{
    .slider{
        background-color: $dark-secondary;
    }
    .settings-navigation li + .active{
        background-color: $custom-primary-accent;
    }
}
@media screen and ( max-width: 991px){
    .settings-navigation{
        margin-top: -10px;
        margin-bottom: 15px;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                margin:3px 0;
                border-radius: 12px;
            }
        
        }
        
    }   
}