.settings-page{
    .subtitle{
        font-size: Clamp(16px, 1vw , 22px);
        font-weight: 600;
    }
    .subtitle2{
        font-size: Clamp(15px, 1vw , 20px);
        font-weight: 500;
    }
    .hint{
        font-size: 11px;
    }
}
.settings-navigation{
    ul{
        margin:0 0 0 30px;
        
        padding: 0;
        font-size: 13px;
        list-style-type: none;
        li{
            margin:7px 0;
            padding: 4px 15px;
            // background-color: red;
            transition: transform 500ms;
            &:hover{
                cursor: pointer;
                transform: translateX(2px);
            }
        }
        li + .active{
            transition: background-color 200ms ease-in;
            border-radius: 12px;
            background-color: lighten($custom-primary-accent,15);
            color: white
        }
    }
}
[dark="dark"]{
    .settings-navigation li + .active{
        background-color: $custom-primary-accent;
    }
}
@media screen and ( max-width: 991px){
    .settings-navigation{
        margin-top: -10px;
        margin-bottom: 15px;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                margin:3px 0;
                border-radius: 12px;
            }
        
        }
        
    }   
}