.register>div {
    position: relative;
}

.register .validation-message::after {
    content: " This Field is Required*";
    font-size: x-small;
    margin-top: -100px;
    text-align: left;
    position: absolute;
    bottom: -12px;
    left: 0;
    color: red;
}

[show-validation-error="true"] {
    border-bottom: crimson 1px solid;
}