@import "../../../css/variables";
@keyframes iconPulse{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}

// [dark="dark"] {
    .custom-nav {
        color: var(--text-secondary);
        position: relative;
        font-size: 13px;
    }

    .toggler {
        background: var(--dark-secondary);
    }

    .custom-nav:hover {
        color: var(--text-secondary2);
    }

    .custom-nav::after {
        content: "";
        position: absolute;
        bottom: 0;
        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        left: 0;
        width: 0%;
        height: 2px;
        background-color: var(--custom-primary);
    }

    .active {
        /* background-color: rgb(8, 8, 8); */
        /* border-bottom: 2px solid #b91a4f; */
        font-weight: 500;
        color: var(--light-primary);
        border-radius: 2px;
        width: fit-content;
    }

    .active::after {
        width: 100%;
        /* background-color: d23ee6; */
    }

    .nav-background {
        background-image: linear-gradient(150deg, var(--dark-secondary), var(--dark-secondary2));
        box-shadow: 0px 3px 10px 0 var(--dark-shadow);
        color: var(--light-primary)
    }

    .post-a-job {
        /* background-color: orangevar(--custom-primary); */
        background-image: linear-gradient(to right, var(--custom-primary)-accent, var(--custom-primary));
        color: white;

    }
    .nav-item{
        position: relative;
        &:hover{
            .nav-link-container{
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
                &:hover{
                   .item:hover{ &::before{
                        color: var(--text-primary);
                        animation: iconPulse 200ms;
                   animation-iteration-count: 2;
                   animation-direction: alternate-reverse;
                    }}
                }
            }    
        }
        .nav-link-container{
            opacity: 0;
            transform: translateY(3px);
            // display: none;
            position: absolute;
            padding: 15px;
            visibility: hidden;
            transition: all 500ms;
            display: flex;
            flex-direction: column;
            width: 130%;
            min-width: max-content;
            left: 0;
            gap: 12px;
            top: 140%;
            background-color: var(--dark-primary);
            box-shadow: 2px 1px 15px 1px var(--dark-shadow), -2px -1px 15px 1px var(--dark-shadow) !important;
            &::before{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: -20px;
                left: 38%;
                // background-color: var(--custom-primary);
                border: 7px solid transparent;
                border-bottom: 10px solid var(--custom-primary);
                
            }
            .item{
                
                &::before{
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f51f";
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    margin-right: 10px;
                    font-size: 12px;
                    color: var(--custom-primary);
                }
            
            }
        }
      }
    
    // .nav-item{
    //     &:hover{
    //         .nav-link-container{
                
    //             &:hover{
    //                .item:hover{ &::before{
    //                     color: var(--text-secondary);
    //                 }}
    //             }
    //         }    
    //     }
    //     .nav-link-container{
            
    //         background-color: var(--dark-secondary);
    //         box-shadow: 0 1px 5px 0 var(--dark-secondary2);
    //         &::before{
                
    //             border-bottom: 10px solid rgb(175, 172, 173);
                
    //         }
    //         .item{
                
    //             &::before{
    //                 color: var(--text-primary);
    //             }
            
    //         }
    //     }
    //   }
      @media only screen and ( max-width: 991px){
    
    
        .nav-item{
            
            position: relative;
            &:hover{
                .nav-link-container{
                    
                    &:hover{
                       .item:hover{ &::before{
                            color: var(--custom-primary);
                            
                        }}
                    }
                }    
            }
            .nav-link-container{
                background-color: #00000000;    
                box-shadow: none !important;
                
                .item{
                    
                    &::before{
                        
                        color: var(--custom-primary);
                    }
                
                }
            }
          }
    
    
      }

// }

  @media only screen and ( max-width: 991px){


    .nav-item{
        position: relative;
        &:hover{
            .nav-link-container{
                
                &:hover{
                   .item:hover{ &::before{
                        color: var(--text-primary);
                        animation: iconPulse 200ms;
                   animation-iteration-count: 2;
                   animation-direction: alternate-reverse;
                    }}
                }
            }    
        }
        .nav-link-container{
            opacity: 1;
            transform: translateY(0px);
            visibility: visible;
            position: relative;
            padding: 10px;
            transition: all 1000ms;
            display: flex;
            flex-direction: column;
            width: 130%;
            // height: ;
            
            left: 0;
            gap: 12px;
            top: 140%;
            background-color: transparent;
            box-shadow: none;
            &::before{
                display: none;
            }
            .item{
                margin-left: 25px;
                &::before{
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f51f";
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    margin-right: 10px;
                    font-size: 12px;
                    color: var(--custom-primary);
                }
            
            }
        }
      }


  }
